body { padding-top: 50px; }

.thumbnail_ribbon
{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.display_ribbon
{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.box_thumb {
  display: inline-block;
  position:relative;
  overflow: hidden;
  background-color: #aaa;
  height: 100px;
}

.box_text
{
    color:white;
    font-size:32px;
    font-weight:bold
}