{% extends "base.html" %}

<!-- Title -->
{% block title %}
Phlask | {{ album }}
{% endblock title %}

<!-- Brand -->
{% block brand %}
Phlask
{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
    {% for p, name in library.getPathToAlbum(album) %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"
           href="#">
           {{ name }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            {% for p in library.getSiblings(p) %}
            <li><a href="{{ url_for('get_album', album=p) }}">{{ p.basename() }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
    {% set sub_albums = library.getAlbumSubAlbums(album) %}
    {% if sub_albums %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"
           href="#">
           <span class="glyphicon glyphicon-search"></span> Sous-albums
        </a>
        <ul class="dropdown-menu" role="menu">
            {% for p in sub_albums %}
            <li><a href="{{ url_for('get_album', album=p) }}">{{ p.basename() }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}

</ul>
{% endblock %}

<!-- Content -->
{% block content %}

    {% set media = library.getAlbumMedia(album) %}
    {% set subalbums = library.getAlbumSubAlbums(album) %}

    {% if media %}

        <div class="row ribbon">
            {% for medium in media %}
                <a href="#{{ medium }}">
                <img data-src="{{ url_for('get_thumbnail', medium=medium) }}" height="100" />
                </a>
            {% endfor %}
        </div>

        <div class="row ribbon">
            {% for medium in media %}
                <a name="{{ medium }}">
                <img data-src="{{ url_for('get_display', medium=medium) }}" height="500" />
                </a>
            {% endfor %}
        </div>

    {% else %}

        {% if subalbums %}

            <div class="row">

            {% for subalbum in subalbums %}
                <p class="lead text-center" style={white-space: nowrap;}><a href="{{ url_for('get_album', album=subalbum) }}">{{ subalbum.basename() }}</a></p>
            {% endfor %}


<!--             <ul class="list-group">
            {% for subalbum in subalbums %}
                <li class="list-group-item"><a href="{{ url_for('get_album', album=subalbum) }}">{{ subalbum.basename() }}</a></li>
            {% endfor %} -->
            </ul>
            </div>

        {% else %}

            <div class="jumbotron">
            <h1>Oooooops!</h1>
            <p>Vous n'avez probablement pas (encore) acc&egrave;s &agrave; cet album!</p>
            <p><a class="btn btn-primary btn-lg" role="button">Envoyez-nous un petit mail !</a></p>
            </div>

        {% endif %}


    {% endif %}

{% endblock %}